<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Disease Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Plant Disease Detector</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <input type="submit" value="Upload and Detect">
        </form>
        {% if uploaded_image %}
        <div class="uploaded-image">
            <h2>Uploaded Image:</h2>
            <img src="{{ url_for('static', filename='uploads/' + uploaded_image) }}" alt="Uploaded Image" class="displayed-image">
        </div>
        {% endif %}
        {% if prediction %}
        <div class="result">
            <h2>Predicted Disease: {{ prediction }}</h2>
        </div>
        {% endif %}
    </div>
</body>
</html>
